extends index-email

block content
    p Hi #{firstName},
    p It seems you submitted a request to reset your password. Follow this link to perform this action! (Valid for 30 minutes)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset Password.
    p
      strong Please ignore this message if you did not make this request.