extends index

block content
  main.main
    .login-form
        h2.heading-secondary.ma-bt-lg Sign Up to Naijatours
        form.form#reset-form
            .form__group.ma-bt-md
                label.form__label(for='password') New Password
                input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-md
                label.form__label(for='passwordConfirm') Confirm Password
                input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                p.password-error
            .form__group
                button.btn.btn--green Reset Password